@using tbelbek.com.Helper
@using tbelbek.com.Model
@inject IStringLocalizer<Resource> L
@inject IDataStore dataStore;
<!-- Portfolio Section
================================================== -->
<section id="portfolio">
    <div class="row">
        <div class="twelve columns collapsed">
            <h1>@L["ConsultedCompanies"]</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                @foreach (PortfolioHeaderModel pfHeader in portfolioHeaderData)
                {
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a class="proj-modal" href="#modal-01" title="">
                                <img class="company-logo" src="@pfHeader.Image" alt=""/>
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>@pfHeader.Company</h5>
                                        <p>@pfHeader.Explanation</p>
                                    </div>
                                </div>
                                <div class="link-icon">
                                    <em class="icon-plus"></em>
                                </div>
                            </a>
                        </div>
                    </div>
                }
                <!-- item end -->
            </div> <!-- portfolio-wrapper end -->
        </div> <!-- twelve columns end -->
        <!-- Modal Popup
        --------------------------------------------------------------- -->
        @foreach (PortfolioDetailModel pfDetail in portfolioDetailData)
        {
            <div id="modal-01" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="@pfDetail.LanguageLogo" alt=""/>
                <div class="description-box">
                    <h4>@pfDetail.ProjectName</h4>
                    <p>@pfDetail.ModalDetail</p>
                    <span class="categories">
                        <em class="fa fa-tag"></em>@pfDetail.TechDetail
                    </span>
                </div>
                <div class="link-box">
                    <a class="popup-modal-dismiss">@L["Close"]</a>
                </div>
            </div>
        }
    </div> <!-- row End -->
</section> <!-- Portfolio Section End-->

@code{
    private List<PortfolioHeaderModel> portfolioHeaderData;
    private List<PortfolioDetailModel> portfolioDetailData;

    protected override void OnInitialized()
    {
        portfolioHeaderData = dataStore.GetPortfolioHeaderInfo();
        portfolioDetailData = dataStore.GetPortfolioDetailInfo();

        base.OnInitialized();
    }

}