@inject IStringLocalizer<Resource> L
<!-- Resume Section
================================================== -->
<section id="resume">
    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">
        <div class="three columns header-col">
            <h1>
                <span>
                    @L["Work"]
                </span>
            </h1>
        </div>
        <div class="nine columns main-col">
            <div class="row item">
                <div class="twelve columns">
                    <h3>KoçSistem</h3>
                    <p class="info">
                        Software Development Technology Manager<span>&bull;</span>
                        <em class="date">
                            @L["Haziran 2021"] - @L["Now"]
                        </em>
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>KoçSistem</h3>
                    <p class="info">
                        Software Development Lead<span>&bull;</span>
                        <em class="date">
                            @L["Mart 2020"] -
                            @L["Haziran 2021"]
                        </em>
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>KoçSistem</h3>
                    <p class="info">
                        Software Developer<span>&bull;</span>
                        <em class="date">
                            @L["Mart 2018"] -
                            @L["Mart 2020"]
                        </em>
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>Antasya Software</h3>
                    <p class="info">
                        Software Specialist <span>&bull;</span>
                        <em class="date">
                            @L["Aralik 2016"] -
                            @L["Mart 2018"]
                        </em>
                    </p>
                </div>
            </div>
            <div class="row item">
                <div class="twelve columns">
                    <h3>BilgeAdam</h3>
                    <p class="info">
                        Software Consultancy <span>&bull;</span>
                        <em class="date">
                            @L["Agustos 2014"] -
                            @L["Aralik 2016"]
                        </em>
                    </p>

                </div>
            </div> <!-- item end -->
        </div> <!-- main-col end -->
    </div> <!-- End Work -->
    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">
        <div class="three columns header-col">
            <h1>
                <span>@L["SchoolLife"]</span>
            </h1>
        </div>
        <div class="nine columns main-col">
            <!--<div class="row item">
            <div class="twelve columns">
            <img src="~/Content/images/spclst.png" style="width: 200px;" alt="">-->
            <!--                   <div id="mcplogo" style="float:left;"></div> -->
            <!--<div id="mcpmetin" style="float: left;">
                <p class="info">HTML, CSS3, JavaScript, jQuery<span>&bull;</span> <em class="date">@L["Nisan 2015"]</em></p>
                <p>
                    @L["Education1"]
                </p>
            </div>
            </div>
            </div>-->
            <!-- item end -->
            <!--<div class="row item">
                <div class="twelve columns">
                    <h3>NBUY Programı - BilgeAdam</h3>
                    <p class="info">@L["EducationTag1"] <span>&bull;</span> <em class="date">@L["Haziran 2014"]</em></p>
                    <p>
                        @L["Education2"]
                    </p>
                </div>
            </div>-->
            <!-- item end -->
            <div class="row item">
                <div class="twelve columns">
                    <h3>Beykent Üniversitesi</h3>
                    <p class="info">
                        @L["EducationTag4"] <span>&bull;</span> <em class="date">@L["Haziran 2017"]</em>
                    </p>
                </div>
            </div> <!-- item end -->
            <div class="row item">
                <div class="twelve columns">
                    <h3>Marmara Üniversitesi</h3>
                    <p class="info">
                        @L["EducationTag2"] <span>&bull;</span> <em class="date">@L["Haziran 2014"]</em>
                    </p>
                </div>
            </div> <!-- item end -->
        </div> <!-- main-col end -->
    </div> <!-- End Education -->
    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">
        <div class="three columns header-col">
            <h1>
                <span>@L["Skills"]</span>
            </h1>
        </div>
        <div class="nine columns main-col">
            <p>
                @L["SkillsExplanation"]
            </p>
            <div class="bars">
                <ul class="skills">
                    <li>
                        <span class="bar-expand aspnet"></span><em>ASP.NET</em>
                    </li>
                    <li>
                        <span class="bar-expand netcore"></span><em>.Net Core</em>
                    </li>
                    <li>
                        <span class="bar-expand csharp"></span><em>C#</em>
                    </li>
                    <li>
                        <span class="bar-expand cpp"></span><em>C++</em>
                    </li>
                    <li>
                        <span class="bar-expand frontend"></span><em>Front-End</em>
                    </li>
                    <li>
                        <span class="bar-expand mssql"></span><em>MS SQL</em>
                    </li>
                    <li>
                        <span class="bar-expand mvc"></span><em>MVC</em>
                    </li>
                    <li>
                        <span class="bar-expand winapps"></span><em>Windows Apps</em>
                    </li>
                    <li>
                        <span class="bar-expand linux"></span><em>Linux</em>
                    </li>
                    <li>
                        <span class="bar-expand devops"></span><em>CI/CD</em>
                    </li>
                    <li>
                        <span class="bar-expand azure"></span><em>Azure</em>
                    </li>
                    <li>
                        <span class="bar-expand photoshop"></span><em>Photoshop</em>
                    </li>
                    <li>
                        <span class="bar-expand cloud"></span><em>Cloud Services</em>
                    </li>
                    <li>
                        <span class="bar-expand hardw"></span><em>Hardware Architecture</em>
                    </li>
                    <li>
                        <span class="bar-expand linux"></span><em>AGILE/SCRUM</em>
                    </li>
                    <li>
                        <span class="bar-expand no-sql"></span>
                        <em>
                            Queue structures, No-Sql databases, ORM Tools,
                            ETC.
                        </em>
                    </li>
                </ul>
            </div><!-- end skill-bars -->
        </div> <!-- main-col end -->
    </div> <!-- End skills -->
</section> <!-- Resume Section End-->
