@using tbelbek.com.Helper
@using tbelbek.com.Model
@inject IStringLocalizer<Resource> L;
@inject IDataStore dataStore;
<!-- Resume Section
================================================== -->
<section id="resume">
    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">
        <div class="three columns header-col">
            <h1>
                <span>
                    @L["Work"]
                </span>
            </h1>
        </div>
        <div class="nine columns main-col">
            @foreach (var work in workData)
            {
                <div class="row item">
                    <div class="twelve columns">
                        <h3>@work.Company</h3>
                        <p class="info">
                            @work.Title<span>&bull;</span>
                            <em class="date">
                                @work.Date
                            </em>
                        </p>
                    </div>
                </div>
            }
        </div> <!-- main-col end -->
    </div> <!-- End Work -->
    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">
        <div class="three columns header-col">
            <h1>
                <span>@L["SchoolLife"]</span>
            </h1>
        </div>
        <div class="nine columns main-col">
            @foreach (EduInfoModel edu in eduData)
            {
                <div class="row item">
                    <div class="twelve columns">
                        <h3>@edu.School</h3>
                        <p class="info">
                            @edu.Tag <span>&bull;</span> <em class="date">@edu.Date</em>
                        </p>
                    </div>
                </div> <!-- item end -->
            }
        </div> <!-- main-col end -->
    </div> <!-- End Education -->
    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">
        <div class="three columns header-col">
            <h1>
                <span>@L["Skills"]</span>
            </h1>
        </div>
        <div class="nine columns main-col">
            <p>
                @L["SkillsExplanation"]
            </p>
            <div class="bars">
                <ul class="skills">
                    @foreach (SkillInfoModel skill in skillInfo)
                    {
                        <li>
                            <span class="bar-expand @skill.Class"></span><em>@skill.Skill</em>
                        </li>
                    }
                </ul>
            </div><!-- end skill-bars -->
        </div> <!-- main-col end -->
    </div> <!-- End skills -->
</section> <!-- Resume Section End-->

@code{
    private List<WorkInfoModel> workData;
    private List<EduInfoModel> eduData;
    private List<SkillInfoModel> skillInfo;
    protected override void OnInitialized()
    {
        workData = dataStore.GetWorkInfo();
        eduData = dataStore.GetEduInfo();
        skillInfo = dataStore.GetSkillInfo();

        base.OnInitialized();
    }

}