@using tbelbek.com.Data
@inject IJSRuntime JS
@inject IStringLocalizer<TestimonialComponent> L
<!-- Testimonials Section
================================================== -->
<section id="testimonials">
    <div class="text-container">
        <div class="row">
            <div class="two columns header-col">
                <h1>
                    <span>@L["FromMyPerspective"]</span>
                </h1>
            </div>
            <div class="ten columns flex-container">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <blockquote>
                                <p>
                                    @L["Testimonial1"]
                                </p>
                                <cite>@L["Quote1"]</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                        <li>
                            <blockquote>
                                <p>
                                    @L["Testimonial2"]
                                </p>
                                <cite>@L["Quote2"]</cite>
                            </blockquote>
                        </li> <!-- slide ends -->
                    </ul>
                </div> <!-- div.flexslider ends -->
            </div> <!-- div.flex-container ends -->
        </div> <!-- row ends -->
    </div> <!-- text-container ends -->
</section> <!-- Testimonials Section End-->

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("loadInit");
        }
    }
}